<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/fav.png">
  <title>Karma</title>
  {{ style('css/linearicons')}}
  {{ style('css/font-awesome.min')}}
  {{ style('css/themify-icons')}}
  {{ style('css/bootstrap')}}
  {{ style('css/owl.carousel')}}
  {{ style('css/nice-select')}}
  {{ style('css/nouislider.min')}}
  {{ style('css/ion.rangeSlider')}}
  {{ style('css/ion.rangeSlider.skinFlat')}}
  {{ style('css/magnific-popup')}}
  {{ style('css/main')}}
  {{--  {{ script('https://www.gstatic.com/firebasejs/5.8.1/firebase.js')}}  --}}

  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>

  <!-- Add additional services that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
  {{--  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-database.js"></script>  --}}
  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-firestore.js"></script>
  {{--  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-messaging.js"></script>  --}}
  {{--  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-functions.js"></script>  --}}

  <script>
  var config = {
    apiKey: "AIzaSyCJrFVl5H5d5_Df6WTxItW63b8p3adFjB8",
    authDomain: "chat-online-8cfbf.firebaseapp.com",
    databaseURL: "https://chat-online-8cfbf.firebaseio.com",
    projectId: "chat-online-8cfbf",
    storageBucket: "chat-online-8cfbf.appspot.com",
    messagingSenderId: "248943871572"
  };
  firebase.initializeApp(config);
</script>
</head>
<body>
    @include('layouts.header')
    @section('content')
    @endsection
    @include('layouts.footer')
    {{ script('js/vendor/jquery-2.2.4.min')}}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')}}
    {{ script('js/vendor/bootstrap.min')}}
    {{ script('js/jquery.ajaxchimp.min')}}
    {{ script('js/jquery.nice-select.min')}}
    {{ script('js/jquery.sticky')}}
    {{ script('js/nouislider.min')}}
    {{ script('js/jquery.magnific-popup.min')}}
    {{ script('js/jquery.magnific-popup.min')}}
    {{ script('js/owl.carousel.min')}}
    {{ script('js/gmaps.min')}}
    {{ script('js/main')}}


  @section('script')
  @endsection
</body>
</html>
